@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --last-col: #ff9c0e;
    --first-row: #b5b5b5;
    --others: #414141;
    --background: #121212;
}

body {
position: relative;
height: 100vh;
width: 100vw;
background: var(--first-row);
overflow: hidden;
/* text-align: center; */
}


.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    width: 300px;
    height: auto;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--background);
    border-radius: 25px;
    width: auto;
    box-shadow: rgba(247, 246, 246, 0.384) 0px 10px 20px, rgba(196, 138, 15, 0.952) 0px 6px 6px;
}

.inner-container{
    display: block;
    width: 100%;
    margin: 5px 10px 10px 10px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
   margin-bottom: 5px;
}

input {
    display: block;
    background: transparent;
    border: 2px solid var(--others);
    margin: 5px auto;
    width: 230px;
    height: 200px;
    border-radius: 25px;
    left: -5px;
    color: white;
    font-size: 50px;
    padding: 10px;
}

.circle{
  display:block;
  height:50px;
  width:50px;
  border-radius:50%;
  color:#fff;
  line-height:50px;
  text-align:center;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  margin: 3px;
}

p {
     transition: 0.3s;
}

div p:hover{
transform: scale(1.05);
}

.zero{
    width: 105px;
    height: 50px;
    border-radius: 25px;
    margin-left: 3px;
    text-align: start;
    padding-left: 15px;
}

/* BUTTON COLOR */

.last {
   background: var(--last-col) 
}

.first {
background: var(--first-row);
}

.other {
background: var(--others);
}

/* FLEXBOX LINK */

a{
    text-decoration: none;
    color: var(--others);
}

h3{
    top: 50%;
    left: 20%;
    font-family: 'poppins', sans-serif;
    position: relative;
}